<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>辽宁</key>
        <array>
            <dict>
                <key>name</key>
                <string>沈阳</string>
                <key>url</key>
                <string>http://www.baike.com/wiki/沈阳市</string>
            </dict>
            <dict>
                <key>name</key>
                <string>大连</string>
                <key>url</key>
                <string>https://baike.baidu.com/item/大连/152852?fr=aladdin</string>
            </dict>
            <dict>
                <key>name</key>
                <string>鞍山</string>
                <key>url</key>
                <string>https://baike.baidu.com/item/鞍山/131766</string>
            </dict>
            <dict>
                <key>name</key>
                <string>抚顺</string>
                <key>url</key>
                <string>https://baike.baidu.com/item/抚顺/131590</string>
            </dict>
            <dict>
                <key>name</key>
                <string>本溪</string>
                <key>url</key>
                <string>https://baike.baidu.com/item/本溪/85493</string>
            </dict>
            <dict>
                <key>name</key>
                <string>丹东</string>
                <key>url</key>
                <string>https://baike.baidu.com/item/丹东/36480</string>
            </dict>
        </array>
        <key>吉林</key>
        <array>
            <dict>
                <key>name</key>
                <string>长春</string>
                <key>url</key>
                <string>https://baike.baidu.com/item/长春/121865</string>
            </dict>
            <dict>
                <key>name</key>
                <string>吉林</string>
                <key>url</key>
                <string>https://baike.baidu.com/item/吉林/5690</string>
            </dict>
            <dict>
                <key>name</key>
                <string>四平</string>
                <key>url</key>
                <string>https://baike.baidu.com/item/四平/475628</string>
            </dict>
            <dict>
                <key>name</key>
                <string>辽源</string>
                <key>url</key>
                <string>https://baike.baidu.com/item/辽源</string>
            </dict>
            <dict>
                <key>name</key>
                <string>通化</string>
                <key>url</key>
                <string>https://baike.baidu.com/item/通化/1204048</string>
            </dict>
        </array>
        <key>黑龙江</key>
        <array>
            <dict>
                <key>name</key>
                <string>哈尔滨</string>
                <key>url</key>
                <string>https://baike.baidu.com/item/哈尔滨/177863</string>
            </dict>
            <dict>
                <key>name</key>
                <string>齐齐哈尔</string>
                <key>url</key>
                <string>https://baike.baidu.com/item/齐齐哈尔</string>
            </dict>
            <dict>
                <key>name</key>
                <string>鸡西</string>
                <key>url</key>
                <string>https://baike.baidu.com/item/鸡西</string>
            </dict>
            <dict>
                <key>name</key>
                <string>鹤岗</string>
                <key>url</key>
                <string>https://baike.baidu.com/item/鹤岗</string>
            </dict>
        </array>
    </dict>
</plist>
